/* SASS Mixins */
/* a-nt.io */



@mixin init($margin, $top, $left, $overflow, $position) {
	margin: $margin;
	top: $top;
	left: $left;
	overflow: $overflow;
	position: $position;
}

@mixin workspace($margin, $left, $overflow, $position){
	margin: $margin;
	left: $left;
	overflow: $overflow;
	position: $position;
}

@mixin links($text-decoration, $outline, $color) {
	text-decoration: $text-decoration;
	outline: $outline;
	color: $color;
}

@mixin translatez ($degrees) {
-webkit-transform: translatez($degrees);
}
