/* CSS Adjustments */
/* a-nt.io */
/* line 4, adjustments.scss */
body, html {
  -webkit-font-smoothing: antialiased;
}

/* line 9, adjustments.scss */
.title {
  margin-top: -5px;
}

/* line 12, adjustments.scss */
.wrk {
  margin-left: 1px;
  position: relative;
}
