/* CSS Document */
/* a-nt.io */
/* RESET */
/* ----------------------------------------- */
/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
/* line 7, _reset.scss */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 8, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, _reset.scss */
fieldset, img {
  border: 0;
}

/* line 10, _reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 11, _reset.scss */
ol, ul, li {
  list-style: none;
}

/* line 12, _reset.scss */
caption, th {
  text-align: left;
}

/* line 13, _reset.scss */
h1, h2, h3, h5, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 14, _reset.scss */
q:before, q:after {
  content: '';
}

/* Global reset-RESET */
/* The below restores some sensible defaults */
/* line 18, _reset.scss */
strong {
  font-weight: bold;
}

/* line 19, _reset.scss */
em {
  font-style: italic;
}

/* line 20, _reset.scss */
a img {
  border: none;
}

/* Gets rid of IE's blue borders */
/* Prevent Bounce on OSX */
/* line 23, _reset.scss */
html {
  height: 100%;
  width: 100;
  overflow: hidden;
}

/* line 28, _reset.scss */
body {
  height: 100%;
  width: 100;
  overflow: auto;
}

/* SASS Mixins */
/* a-nt.io */
/* CSS Grid */
/* a-nt.io */
/*
 Width: 1280px
 # Columns : 20
 Column width: 64px
 */
/* line 10, _grid.scss */
.grid_1 {
  width: 5%;
}

/* 64px */
/* line 11, _grid.scss */
.grid_2 {
  width: 10%;
}

/* 128px */
/* line 12, _grid.scss */
.grid_3 {
  width: 15%;
}

/* 192px */
/* line 13, _grid.scss */
.grid_4 {
  width: 20%;
}

/* 256px */
/* line 14, _grid.scss */
.grid_5 {
  width: 25%;
}

/* 320px */
/* line 15, _grid.scss */
.grid_6 {
  width: 30%;
}

/* 384px */
/* line 16, _grid.scss */
.grid_7 {
  width: 35%;
}

/* 448px */
/* line 17, _grid.scss */
.grid_8 {
  width: 40%;
}

/* 512px */
/* line 18, _grid.scss */
.grid_9 {
  width: 45%;
}

/* 576px */
/* line 19, _grid.scss */
.grid_10 {
  width: 50%;
}

/* 640px */
/* line 20, _grid.scss */
.grid_11 {
  width: 55%;
}

/* 704px */
/* line 21, _grid.scss */
.grid_12 {
  width: 60%;
}

/* 768px */
/* line 22, _grid.scss */
.grid_13 {
  width: 65%;
}

/* 832px */
/* line 23, _grid.scss */
.grid_14 {
  width: 70%;
}

/* 896px */
/* line 24, _grid.scss */
.grid_15 {
  width: 75%;
}

/* 960px */
/* line 25, _grid.scss */
.grid_16 {
  width: 80%;
}

/* 1024px */
/* line 26, _grid.scss */
.grid_17 {
  width: 85%;
}

/* 1088px */
/* line 27, _grid.scss */
.grid_18 {
  width: 90%;
}

/* 1152px */
/* line 28, _grid.scss */
.grid_19 {
  width: 95%;
}

/* 1216px */
/* line 29, _grid.scss */
.grid_20 {
  width: 100%;
}

/* 1280px */
/* line 50, _grid.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20 {
  margin: 0;
  float: left;
  display: block;
}

/* line 56, _grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 56, _grid.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 56, _grid.scss */
* html .clearfix, *:first-child + html .clearfix {
  zoom: 1;
}

/* CSS Adjustments */
/* a-nt.io */
/* line 4, adjustments.scss */
body, html {
  -webkit-font-smoothing: antialiased;
}

/* line 9, adjustments.scss */
.title {
  margin-top: -5px;
}

/* line 12, adjustments.scss */
.wrk {
  margin-left: 1px;
  position: relative;
}

/* SETUP */
/* GENERAL */
/* line 22, style.scss */
a, a:visited {
  text-decoration: none;
  outline: none;
  color: black;
}

/* line 23, style.scss */
a:hover {
  text-decoration: none;
  outline: none;
  color: blue;
}

/* line 24, style.scss */
a:focus {
  -moz-outline-style: none;
}

/* line 26, style.scss */
img, img a {
  border: none;
}

/* line 28, style.scss */
body {
  background: white;
  color: black;
  font: 17px/24px Helvetica, Arial, sans-serif;
  min-width: 540px;
}

/* WRAPPER */
/* line 38, style.scss */
#wrapper {
  margin: 0px auto;
  top: 0px;
  left: 0px;
  overflow: auto;
  position: static;
  z-index: 0;
  min-width: 540px;
}

/* INTERFACE */
/* line 46, style.scss */
.interface {
  margin: 0px auto;
  top: 0px;
  left: 0px;
  overflow: auto;
  position: relative;
  max-width: 1440px;
  margin-left: 0;
  overflow: visible;
}

/* line 56, style.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 64px;
  max-width: 1440px;
  z-index: 1;
}

/* line 64, style.scss */
.text {
  position: absolute;
  overflow: visible;
  width: 100%;
  max-width: 1440px;
  height: auto;
}

/* line 71, style.scss */
.about p {
  max-width: 640px;
}

/* line 73, style.scss */
#logo {
  height: 2px;
  background: black;
  width: 60%;
  margin-left: 25%;
  margin-top: -12px;
  margin-right: 15%;
}

/* line 82, style.scss */
#menu {
  width: 70%;
}

/* line 85, style.scss */
#menu ul li {
  padding-top: 0px;
  padding-right: 24px;
  display: inline;
}

/* line 91, style.scss */
.close a {
  color: #cccccc;
}

/* line 92, style.scss */
.copy {
  color: #cccccc;
  font-size: 15px;
}
/* line 92, style.scss */
.copy p {
  max-width: 480px;
  padding-top: 32px;
}

/* line 93, style.scss */
.copy a {
  color: #cccccc;
  text-decoration: underline;
}

/* line 96, style.scss */
#showabout {
  display: none;
  padding-top: 192px;
}

/* line 97, style.scss */
#closeabout {
  display: block;
}

/* line 98, style.scss */
#showabout:target {
  display: block;
}

/* line 99, style.scss */
#clouseabout:target {
  display: none;
}

/* line 101, style.scss */
#showexternals {
  display: none;
  padding-top: 192px;
}

/* line 102, style.scss */
#closeexternals {
  display: block;
}

/* line 103, style.scss */
#showexternals:target {
  display: block;
}

/* line 104, style.scss */
#clouseexternals:target {
  display: none;
}

/* FOLIO AREA */
/* line 109, style.scss */
.workspace {
  margin: 0px auto;
  left: 0px;
  overflow: auto;
  position: relative;
  margin-left: 0px;
  max-width: 1440px;
  min-width: 540px;
  background-color: white;
}
/* line 118, style.scss */
.workspace img {
  width: 100%;
}

/* line 123, style.scss */
.workwrapper {
  position: relative;
}

/* line 127, style.scss */
.descriptionwrapper {
  background: white;
  width: auto;
  margin: 0;
  top: 14%;
  left: 14%;
  right: 14%;
  bottom: 14%;
  position: absolute;
}

/* line 136, style.scss */
.gridlines .left {
  left: 7%;
  top: 50%;
  width: 14%;
  height: 1px;
  background: black;
  position: absolute;
}
/* line 137, style.scss */
.gridlines .right {
  right: 7%;
  top: 50%;
  width: 14%;
  height: 1px;
  background: black;
  position: absolute;
}
/* line 138, style.scss */
.gridlines .top {
  left: 50%;
  top: 7%;
  width: 1px;
  height: 14%;
  background: black;
  position: absolute;
}
/* line 139, style.scss */
.gridlines .bottom {
  left: 50%;
  bottom: 7%;
  width: 1px;
  height: 14%;
  background: black;
  position: absolute;
}

/* line 142, style.scss */
.description {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 146, style.scss */
.description p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 154, style.scss */
.workwrapper:hover .descriptionwrapper, .workwrapper:hover .gridlines {
  display: none;
}

/* hide on hover */
/* line 157, style.scss */
.gridbreaker {
  margin-top: 384px;
  margin-bottom: 384px;
  height: 1px;
}
/* line 158, style.scss */
.gridbreaker .left {
  float: left;
  width: 16px;
  height: 1px;
  background: black;
}
/* line 159, style.scss */
.gridbreaker .right {
  float: right;
  width: 16px;
  height: 1px;
  background: black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  /* line 166, style.scss */
  .gridbreaker {
    margin-top: 256px;
    margin-bottom: 256px;
  }

  /* line 167, style.scss */
  .first {
    margin-top: 448px;
    margin-bottom: 448px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 171, style.scss */
  .gridbreaker {
    margin-top: 128px;
    margin-bottom: 128px;
  }
}
/* RETINA SPECIFIC */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
}
