/* CSS Document */
/* a-nt.io */

@import "reset";
@import "mixin";
@import "grid";
@import "adjustments";


/* SETUP */

$backg: #fff;
$mainc: #000;
$subc: #ccc;
$hoverc: #00f;
$maxw: 1440px;
$minw: 540px;


/* GENERAL */

a, a:visited { @include links(none,none,$mainc);}
a:hover { @include links(none,none,$hoverc);}
a:focus { -moz-outline-style: none; }

img, img a { border:none; }

body {
	background:$backg;
	color: $mainc;
	font: 17px/24px Helvetica, Arial, sans-serif;
	min-width: $minw;
}


/* WRAPPER */

#wrapper {
	@include init(0px auto, 0px,0px, auto, static);
	z-index: 0;
	min-width: $minw;
}

/* INTERFACE */

.interface {

	@include init(0px auto, 0px, 0px, auto, relative);

	max-width: $maxw;
	margin-left: 0;

	overflow: visible;
}

.fixed {
	position: fixed;
	width: 100%;
	top: 64px;
	max-width: $maxw;
	z-index: 1;
}

.text {
	position: absolute;
	overflow: visible;
	width: 100%;
	max-width: $maxw;
	height: auto;
}
.about { p {max-width: 640px; }}

#logo {
	height: 2px;
	background: $mainc;
	width: 60%;
	margin-left: 25%;
	margin-top: -12px;
	margin-right: 15%;
}

#menu {
	width: 70%;
}
#menu ul li {
	padding-top: 0px;
	padding-right: 24px;
	display: inline;
}

.close a { color: $subc;}
.copy { color: $subc; font-size: 15px; p{ max-width:480px; padding-top: 32px; } }
.copy a { color: $subc; text-decoration: underline; }


#showabout {display:none ; padding-top: 192px;}
#closeabout {display:block;}
#showabout:target {display: block; }
#clouseabout:target {display: none; }

#showexternals {display:none ; padding-top: 192px;}
#closeexternals {display:block;}
#showexternals:target {display: block; }
#clouseexternals:target {display: none; }


/* FOLIO AREA */

.workspace {

	@include workspace(0px auto, 0px, auto, relative);
	margin-left: 0px;
	max-width: $maxw;
	min-width: $minw;

	background-color: $backg;

	img {
		width: 100%;
	}
}

.workwrapper {
position: relative;

}
.descriptionwrapper {
	background: $backg;
	width: auto;
	margin: 0;
	top: 14%; left: 14%; right: 14%; bottom: 14%;
	position: absolute;
}

.gridlines {
		.left {left: 7%; top: 50%; width: 14%; height: 1px; background: $mainc; position: absolute;}
		.right {right: 7%; top: 50%; width: 14%; height: 1px; background: $mainc; position: absolute;}
		.top {left: 50%; top: 7%; width: 1px; height: 14%; background: $mainc; position: absolute;}
		.bottom {left: 50%; bottom: 7%; width: 1px; height: 14%; background: $mainc; position: absolute;}
}

.description {
	display: table;
	width: 100%;
	height: 100%;
	p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}


.workwrapper:hover .descriptionwrapper, .workwrapper:hover .gridlines { display:none; } /* hide on hover */


.gridbreaker { margin-top: 384px; margin-bottom: 384px; height: 1px;
	.left {float: left; width: 16px; height: 1px; background: $mainc;}
	.right {float: right; width: 16px; height: 1px; background: $mainc;}
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
	.gridbreaker { margin-top: 256px; margin-bottom: 256px;}
	.first { margin-top: 448px; margin-bottom: 448px;}
	}

@media only screen and (max-width: 480px) {
	.gridbreaker { margin-top: 128px; margin-bottom: 128px;}
	}

/* RETINA SPECIFIC */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
   /* Retina-specific stuff here */
}
