!!!
%html
    %head
        %title A—NT

        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        /@stylesheet style
        /@reload

    %body
        %div#wrapper.clearfix.grid_20


            /START

            /FIXED AREA
            %div.interface.clearfix

                %div.fixed
                    %div.grid_1
                        &nbsp;
                    %div.grid_2
                        A
                        %div#logo
                            &nbsp;
                    %div.grid_3
                        NT

                    %div#menu.grid_14
                        %ul
                            %li
                                %a{:href => '#showabout'}>About
                            %li
                                %a{:href => '#showexternals'}>Externals

                %div#showabout.text
                    %div.grid_3
                        &nbsp;
                    %div.grid_2.close
                        %a{:href => '#closeabout'}>Close
                    %div.grid_14.about
                        %p Anders Nærø Tangen
                        %p 1987, living in Oslo
                        %p Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.
                        %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem end.
                        %p
                            +47 93415557 /
                            %a{:href => '#mail'}>post@a-nt.io
                    %div.grid_1
                        &nbsp;
                    %div.grid_6
                        &nbsp;
                    %section.copy.grid_11
                        %p This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
                    %div.grid_3
                        &nbsp;
                %div#showexternals.text
                    %div.grid_3
                        &nbsp;
                    %div.grid_2.close
                        %a{:href => '#closeexternals'}>Close
                    %div.grid_14.about
                        %p test


            /FOLIO AREA

            %div.gridbreaker.first
                %div.left
                    &nbsp;
                %div.right
                    &nbsp;

            /1301
            %div.workspace
                %div.grid_1 &nbsp;
                %div.grid_2.title

                    1301

                %div.grid_14.wrk
                    %div.workwrapper
                        %div.descriptionwrapper
                            %section.description
                                %p
                                    A-NT 1301

                                    %br
                                    %br

                                    Palindrome fractal
                                    %br
                                    8000x8000 px

                                    %br
                                    %br

                                    metal plate coating
                        %div.gridlines.horizontal
                            %div.left &nbsp;
                            %div.right &nbsp;
                            %div.top &nbsp;
                            %div.bottom &nbsp;
                        %img{:src => "wrk/1301.jpg"}
                %div.grid_3
                    &nbsp;

            %div.gridbreaker
                %div.left
                    &nbsp;
                %div.right
                    &nbsp;

            /1303
            %div.workspace
                %div.grid_1&nbsp;
                %div.grid_2.title

                    1303

                %div.grid_14.wrk
                    %div.workwrapper
                        %div.descriptionwrapper
                            %section.description
                                %p

                                    A-NT 1303

                                    %br
                                    %br

                                    Palindrome fractal
                                    %br
                                    8000x8000 px

                                    %br
                                    %br

                                    metal plate coating

                        %div.gridlines.horizontal
                            %div.left &nbsp;
                            %div.right &nbsp;
                            %div.top &nbsp;
                            %div.bottom &nbsp;
                        %img{:src => "wrk/1303.png"}
                %div.grid_3
                    &nbsp;
